@import '~bootstrap/scss/bootstrap'; // @import url('https://fonts.googleapis.com/css?family=Montserrat:500,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;800;900&family=Source+Code+Pro:wght@900&display=swap');

button,
div,
h1,
p {
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  background-image: url("./img/tttbg.jpg");
  background-position: top;
}

header {
  width: 30%;
  height: 50px;
  border-bottom: 3px solid black;
  padding-top: 75px;
  padding-bottom: 25px;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  margin: auto;
}

header h1 {
  font-size: 50px;
  text-align: center;
  color: #000;
}

p {
  font-size: 25px;
  text-align: center;
  color: grey;
  padding-top: 16px;
  padding-bottom: 0;
}

section {
  width: 100%;
  // height: 50px;
  // padding-top: 70px;
  padding-bottom: 16px;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  margin: auto;
}

.container {
  width: 330px;
  overflow: hidden;
  margin: 40px auto 0;
}

.container .box {
  float: left;
  width: 100px;
  height: 100px;
  border: 2px solid black;
  font-size: 85px;
  text-align: center;
  line-height: 100px;
  cursor: pointer;
}

.container .box:hover {
  background: rgb(174, 244, 255);
  color: rgb(108, 108, 108);
}

.box:nth-child(1) {
  border-left: none;
  border-top: none;
}

.box:nth-child(2) {
  border-top: none;
}

.box:nth-child(3) {
  border-right: none;
  border-top: none;
}

.box:nth-child(4) {
  border-left: none;
}

.box:nth-child(6) {
  border-right: none;
}

.box:nth-child(7) {
  border-left: none;
  border-bottom: none;
}

.box:nth-child(8) {
  border-bottom: none;
}

.box:nth-child(9) {
  border-right: none;
  border-bottom: none;
}

.btn {
  width: 150px;
  font-weight: bold;
  font-size: 14px;
  display: block;
  margin: 24px auto;
  border: solid black;
}

.btn-2 {
  width: 150px;
  font-size: 14px;
  margin: 4px auto;
  border: solid black;
}

.no-show {
  display: none;
}

#footer {
  font-size: 12px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(174, 244, 255);
  color: black;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
