@import '~bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
}

section {
  padding: 10px 0 0px 50px;
}

.container {
	width: 330px;
	overflow: hidden;
	margin: 50px auto 0 auto;
}
//
// .container p span {
// 	display: block;
// 	text-align: center;
// 	font-family: sans-serif;
// 	font-size: 40px;
//   font-weight: bold;
// 	margin-bottom: 50px;
// }
//
.container .box {
	float: left;
	width: 100px;
	height: 100px;
	border: 1px solid black;
	font-size: 85px;
	text-align: center;
	line-height: 100px;
	cursor: pointer;
  }

.btn{
	width: 150px;
	font-weight: bold;
	font-size: 14px;
	display: block;
	margin: 24px auto;
  border: solid black;
}

.btn-2{
	width: 150px;
	font-size: 14px;
	margin: 4px auto;
  border: solid black;
}

.no-show {
  display: none;
}
